/* CartItem.css */
:root {
  --lightCol: #f2f2f2;
  --primCol: #f2b33d;
  --secCol: #f29a2e;
  --tertCol: #f25922;
  --accentCol: #401a1a;
}

.cart-container {
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 20px; */
  color: var(--accentCol);
}

.cart-total-amount {
  font-size: 1.7rem;
  margin: 25px 0;
  text-align: center;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item {
  display: flex;
  height: 100%;
  width: 500px;
  gap: 24px;
}

.cart-item-img-container {
  height: 200px;
  width: 60%;
  flex: 2;
}

.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-details {
  display: flex;
  flex: 1;
  width: 40%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-name {
  font-weight: bold;
  font-size: 25px;
}

.cart-item-cost {
  font-size: 1rem;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-button-dec,
.cart-item-button-inc {
  color: var(--accentCol);
  background-color: var(--light);
  border: 4px solid var(--secCol);
  font-size: 24pt;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}
.cart-item-button-inc {
  background-color: var(--secCol);
  border: none;
}

.cart-item-button-inc:hover,
.cart-item-button-dec:hover {
  background-color: var(--primCol);
  color: var(--lightCol);
  border: none;
  /* fccd77 */
}

/* .cart-item-button {
  background-color: #f0f0f0;
  border: 1px solid lightgrey;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
} */

.cart-item-quantity-value {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.cart-item-total {
  font-weight: bold;
}

.cart-item-delete {
  background-color: var(--accentCol);
  border: none;
  color: var(--lightCol);
  font-size: 12pt;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  align-self: stretch;
}

.cart-item-delete:hover {
  background-color: var(--primCol);
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column; /* Change flex direction to stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
    width: 100%; /* Set width to full width */
  }

  .cart-item-image {
    width: 100%; /* Set image width to full width */
    height: auto; /* Allow image height to adjust proportionally */
    margin-right: 0; /* Remove margin */
    margin-bottom: 10px; /* Add margin bottom for spacing */
  }

  .cart-item-details {
    width: 100%; /* Set details width to full width */
  }

  .cart-item-quantity {
    margin-top: 10px; /* Add margin top for spacing */
  }
}

@media (max-width: 768px) {
  .cart-container {
    padding: 10px; /* Reduce padding */
  }

  .total_cart_amount {
    font-size: 18px; /* Reduce font size */
  }
}
.cart-buttons-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
  height: 120px;
  width: 500px;
}

.continue-shopping,
.checkout-button {
  color: var(--accentCol);
  border: 4px solid var(--secCol);
  /* background-color: #f2b33d; */
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  margin-top: 50px;
}

.checkout-button {
  background-color: var(--secCol);
  border: none;
}

.continue-shopping:hover,
.checkout-button:hover {
  background-color: var(--primCol);
  color: var(--lightCol);
  border: none;
  /* fccd77 */
}
