:root {
  --lightCol: #f2f2f2;
  --primCol: #f2b33d;
  --secCol: #f29a2e;
  --tertCol: #f25922;
  --accentCol: #401a1a;
}

/* Reset some default styles */
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  background-color: var(--lightCol);
}

/* Navbar */
.navbar {
  /* background-color: #4caf50; */
  /* background-color: #fccd77; */
  background-color: var(--accentCol);
  color: var(--lightCol) !important;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

/* .navbar .ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
} */

/* .navbar li {
  margin-right: 30px;
} */

/* .navbar .ul div a {
  color: white;
  color: var(--lightCol);
  font-size: 30px;
  text-decoration: none;
} */

.product-grid-link {
  justify-self: center;
  flex: 2;
}

/* Product Grid */
.product-grid {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--lightCol);
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* background-color: pink; */
  /* justify-content: space-between; */
  /* padding: 20px; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Product Card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin-bottom: 20px;
  background-color: var(--lightCol);
  border-radius: 5px;
  text-align: left;
  position: relative;
  height: 400px;
  width: 270px;
  color: var(--accentCol);
  transition: transform 0.3s ease-in-out;
}
.product-category {
  font-size: 2.2rem;
  margin: 50px 0;
  text-align: center;
  color: var(--accentCol);
  justify-self: center;
}

/* Pseudo-classes - Hover effect on product button */
.product-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.product-title {
  font-weight: bold;
  margin-bottom: 5px;
  /* margin-bottom: 10px; */
  font-size: 18pt;
}

.product-description {
  font-size: 10pt;
  margin-bottom: 5px;
}

.product-price {
  /* color: #e74c3c; */
  color: var(--accentCol);
  font-size: 14pt;
  margin-bottom: 5px;
}

.product-image {
  max-width: 100%;
  /* height: 200px; Adjust height for better consistency */
  height: 60%;
  object-fit: cover;
}

/* Pseudo-elements - Sale badge */
.product-card::before {
  content: "SALE";
  /* background-color: #e74c3c; */
  background-color: var(--tertCol);
  color: var(--lightCol);
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  font-size: 14pt;
  border-radius: 0 0 0 5px;
}
.tag_home_link {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  color: var(--lightCol);
  text-decoration: none;
  font-size: 20px;
}
.tag_home_link h3 {
  font-size: 30px;
}
.tag a {
  text-decoration: none;
  color: var(--lightCol);
}
.tag {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag img {
  height: 120px;
  width: 120px;
  border-radius: 70%;
}

/* .luxury {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  font-size: 19px;
  color: var(--lightCol);
} */
/* .cart {
  color: white;
  display: flex;
} */

.cart-div,
.cart-div a {
  position: relative;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: visible;
}

.product-grid-link {
  flex-grow: 2;
  flex-basis: 1;
}

/* .cart_quantity_count {
  margin-top: 16px;
  background-color: red;
  margin-left: 27px;
  position: absolute;
  font-size: 29px;
} */

.cart_quantity_count {
  background-color: var(--tertCol);
  position: absolute;
  top: -12.5%;
  left: -25%;
  font-size: 2.3rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.4;
}

.plantname_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}
.plant_heading {
  width: 400px;
  text-align: center;
  margin: 20px;
  border: 1px solid rgb(5, 4, 4);
  border-left: none;
  border-right: none;
}
/* Add Media Query for responsiveness */
@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 20px); /* Adjust width for 2 cards per row with 20px gap on smaller screens */
    max-width: calc(
      50% - 20px
    ); /* Adjust max-width for 2 cards per row with 20px gap on smaller screens */
  }
}

/* ProductList.css */

.product-button {
  /* background-color: #4caf50; Green */
  background-color: var(--secCol);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14pt;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.product-button:hover {
  /* background-color: #45a049; */
  background-color: var(--primCol);
}

.product-button.added-to-cart {
  background-color: grey; /* Grey when product is added */
  cursor: not-allowed;
}
@media (max-width: 1200px) {
  .product-card {
    flex: 1 1 calc(33.33% - 20px); /* Adjust width for 3 cards per row with 20px gap on medium screens */
    max-width: calc(
      33.33% - 20px
    ); /* Adjust max-width for 3 cards per row with 20px gap on medium screens */
  }
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 20px); /* Adjust width for 2 cards per row with 20px gap on small screens */
    max-width: calc(
      50% - 20px
    ); /* Adjust max-width for 2 cards per row with 20px gap on small screens */
  }
  .navbar {
    flex-direction: column; /* Change flex direction to stack items vertically */
    align-items: center; /* Align items to the center of the container */
  }

  .cart-div,
  .cart-div a {
    align-self: flex-end;
    height: 70px;
    width: 70px;
  }

  .cart_quantity_count {
    top: -12.5%;
    left: -25%;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
  }

  .products-link-div {
    align-self: flex-start;
  }

  .tag {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    text-align: center; /* Align text to the center */
  }

  .ul {
    display: flex; /* Set display to flex */
    flex-direction: column; /* Change flex direction to stack items vertically */
    gap: 10px; /* Add gap between items */
  }

  .ul div {
    text-align: center; /* Align text to the center */
  }
}
